.right_navi {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
    padding: 50px;

    &__container {
        transform: rotate(90deg) translateX(-50px);
        position: absolute;
        bottom: 85px; // или как тебе нужно
        right: -21px;
         // центрируем относительно ширины родителя
        a {

            font-size: 1.2rem;
            color: var(--color-accent);
            transition: color 0.3s ease;
    
            &:hover {
                color: var(--color-text-main);;
            }
        }
    }
}

@media (max-width: 426px) {
    .right_navi {
        display: none;
    }
}