.header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    min-height: 100vh;

    &__image {
        display: flex;
        flex: 1;
        border: 3px solid var(--color-accent);
        border-radius: 50%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 20px;

        h1 {
            font-size: 1rem;
            color: var(--color-accent);
        }
        h2 {
            font-size: 3rem;
        }

        span {
            font-size: 5rem;
        }

        &_green_dot {
            display: inline;
            width: 5px;
            height: 5px;
            background-color: var(--color-accent);
            border-radius: 50%;
        }
    }
}