.header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    min-height: 100vh;

    &__image {
        display: flex;
        flex: 1;
        border: 3px solid var(--color-accent);
        border-radius: 50%;
        overflow: hidden;
        aspect-ratio: 1/1;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 20px;

        h1 {
            font-size: clamp(2rem, 8vw, 5rem);
            text-align: center;
            color: var(--color-accent);
            font-weight: 900;
        }

        span {
            font-size: clamp(1.5rem, 4vw, 3rem);
            text-align: center;
        }
    }
}

@media (max-width: 1025px) {
    .header {
        flex-direction: column;
        margin-top: 120px;

        &__image {
            margin: 50px;
        }
    }
}

@media (max-width: 769px) {
    .header {
        &__image {
            width: 100%;
            margin: 0;
            flex: none;
        }
    }
}