.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 100%;

    a {
        transition: color 0.3s ease;
        text-align: center;

        &:hover {
            color: var(--color-accent);
        }
    }
}