.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;

    &__heading {
        color: var(--color-accent);
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h3 {
            color: var(--color-accent);
            font-size: 1.3rem;
            text-align: center;
        }

        span {
            font-size: 2rem;
            text-align: center;
        }

        a {
            display: block;
            margin: 40px 0px;
            padding: 20px 30px;
            border: 2px solid var(--color-accent);
            border-radius: 10px;
            color: var(--color-accent);
            transition: color 0.3s ease, background-color 0.3s ease;
            font-weight: bold;
            
            &:hover {
                color: var(--color-base);
                background-color: var(--color-accent);
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 50px;

            a {
                margin: 0;
                padding: 0;
                border: none;

                &:hover {
                    color: var(--color-text-main);
                    background-color: var(--color-base);
                }

            }

        }
    }
}